/* .App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1f1144;
} */

.App {
  position: relative;
  height: 100vh;
  text-align: center;
  background: #4682B4;
}

.title {
  position: relative;
  margin-top: -21px;
}

.canvas {
  position: inherit;
  height: 50%;
}

.section {
  position: inherit;
  height: 100vh
}